appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1670876918685/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1666764672617/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1674482203741/work
calibration-belt==0.1.41
certifi==2022.12.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1671179360775/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1673633659350/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1672672393437/work
cubinlinker @ file:///home/conda/feedstock_root/build_artifacts/cubinlinker_1669933065174/work
cuda-python @ file:///home/conda/feedstock_root/build_artifacts/cuda-python_1670580736997/work
cudf==22.10.1+2.gca9a422da9
cuml==22.10.1
cupy @ file:///home/conda/feedstock_root/build_artifacts/cupy_1674158199276/work
cycler==0.11.0
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1666829688252/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1664589610536/work
dask-cuda==22.10.0
dask-cudf==22.10.1+2.gca9a422da9
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1664591325420/work
fastavro @ file:///home/conda/feedstock_root/build_artifacts/fastavro_1674852273418/work
fastrlock==0.8
fonttools==4.38.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1674184942191/work
HeapDict==1.0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
kiwisolver==1.4.4
llvmlite==0.39.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1672341029243/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1674135804847/work
matplotlib==3.6.3
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1666755171270/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1669103969463/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1668919081525/work
nvtx @ file:///home/conda/feedstock_root/build_artifacts/nvtx_1667383046644/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
pandas==1.5.3
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1660316728562/work
patsy==0.5.3
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1672675315618/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1643032624649/work
protobuf==3.20.2
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1667885909637/work
ptxcompiler @ file:///home/conda/feedstock_root/build_artifacts/ptxcompiler_1669972019825/work
pyarrow==9.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pylibraft==22.10.1
pynvml @ file:///home/conda/feedstock_root/build_artifacts/pynvml_1639061605391/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1672659226110/work
pyparsing==3.0.9
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1673864280276/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1666772387118/work
raft-dask==22.10.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1673863902341/work
rmm==21.12.0
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1674598989807/work
scipy==1.10.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
statsmodels==0.13.5
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827245914/work
tqdm==4.64.1
treelite==3.0.0
treelite-runtime==3.0.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
ucx-py @ file:///opt/conda/envs/rapids/conda-bld/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1673452138552/work
xgboost==1.7.3
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1663619671984/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1651156074437/work
